 nav {
  background-color: #000;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Aprial, sane-serif;
  text-align: center;
  left: 50%; 
  right: 50%;
  width: 100%; 
}

nav ul li a:hover {
  background-color: #blue;
  text-decoration: underline overline;
  
}
