 nav {
  background-color: #000;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  background-color: blue;
  display: block;
  color: #fff
  width: 100%
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Aprial, sane-serif;
  position: relative; 
  text-decoration: underline overline;
  left: 50%; 
  right: 50%;

  
}

nav ul li a:hover {
  background-color: #blue;
  
}



#sidebar {
   
     right: 0;
   
}


 #sidebar-container ul {
 list-style-type: none;
 padding: 0;
 }
  


#sidebar-container ul li a {
    background-color: red;
text-align: center;
text-decoration: none;
    color: #fff;
  height: 100%;
 padding: 15px 0;
  width: 20%;
 position: fixed;

}
#sidebar-container ul li a:hover {
  background-color: #000;

