body {
    background-color: #000; 
    
}

nav {
  background-color: blue;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: #fff
  width: 100%
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Aprial, sane-serif;
  position: relative; 
  text-decoration: underline overline;
  left: 50%; 
  right: 50%;

  
}

nav ul li a:hover {
  background-color: #blue;
  
}

#sidebar { 
 position: fixed;
 right: 0;
 width: 20%;
 height: 100%;
 padding: 15px 0;
 
}


 #sidebar-container ul {
 list-style-type: none;
 padding: 0;

 }
  
#sidebar-container ul li {
}

#sidebar-container ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 100%;
  text-align: center;
  background-color: red; 

}
#sidebar-container ul li a:hover {
  background-color: #000;

