 nav {
  background-color: #000;
  margin: 0; 
  padding: 0; 
}

 nav ul {
  list-style-type: none;
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

nav ul li {
  float: left;
  position: relative;
  display: block;
  left: 50%; 
  right: 50%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: #fff
  width: 100%
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Aprial, sane-serif;
  position: relative; 
  text-decoration: underline overline;
  
}

nav ul li a:hover {
  background-color: #blue;
  
}


 
}

 #sidebar-container {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}
 #sidebar-container ul {
 list-style-type: none;
  text-align: center;
  padding: 0;
 }

#sidebar-container ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  background-color: red;
  height: 100%;
  right:0%;
  width: 20%;
  text-align: center;
  position: relative;

 
 
 
}
#sidebar-container ul li a:hover {
  background-color: #000;
  
}
