 nav {
  background-color: #000;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  background-color: blue;
  display: block;
  color: #fff
  width: 100%
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Aprial, sane-serif;
  position: relative; 
  text-decoration: underline overline;
  left: 50%; 
  right: 50%;

  
}

nav ul li a:hover {
  background-color: #blue;
  
}


 
}

 #sidebar-container {
  background-color: red;
  
}
 #sidebar-container ul {
 list-style-type: none;
 padding: 0;
 position: static;
 top: 50px;
 right: 0px
 }

#sidebar-container ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  background-color: red;
  height: 100%;
  right:0%;
  width: 20%;
  text-align: center;
  text-align: center;
 
}
#sidebar-container ul li a:hover {
  background-color: #000;
  
}
